### Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)
# My notebook

### Exercise 3 - Create a markdown cell for an introduction. (1 pt)
## Introduction

### Exercise 4 - Create a markdown cell to list data science languages. (3 pts)
- Python
- R
- SQL
- C/C++
- Java
- JavaScript
- Go
- Scala
- Julia
- Swift
- MATLAB
- SAS

### Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)
- NumPy
- Keras
- Pandas
- PyTorch
- SciPy
- Scikit-Learn
- TensorFlow
- Matplotlib
- Seaborn
- Theano
- OpenCV
- Mahotas
- SimpleITK
- Pillow
- Requests
- Beautiful Soup
- Selenium
- ScraPy
- PyTest
- PyUnit

### Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

|Name |Language |Use |
|:-----: |:-----: |:-----: |
|SQL |SQL |relational datbase management |
|Python |Python |object oriented programming |
|Git |NA |Code management and collaborative resource tool |

In [1]:
##floats table left
%%html
<style>
table {float:left}
</style>

### Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt


$$ x = {-b \pm \sqrt{b^2-4ac} \over 2a} $$
$$
\displaystyle\sum_{k=3}^5 k^2=3^2 + 4^2 + 5^2 =50
$$

### Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)

$$ 6*2 = 12 $$
$$ 6+2 = 8 $$

In [9]:
6*2, 6+2

(12, 8)

### Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

In [15]:
print ( "Enter minutes")
x = int(input())
print( str(x/60)+" Hours" )

Enter minutes

 120

2.0 Hours

### Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

1. objectives
2. objectives
3. objectives
4. objectives
5. objectives

### Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

<div class="alert alert-block alert-info">
<b>Author:</b> Iain Brewster
</div>

### Exercise 12 - Share your notebook through GitHub (3 pts)

### Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)